@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?9ob0ra');
  src:  url('../fonts/icomoon.eot?9ob0ra#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?9ob0ra') format('truetype'),
    url('../fonts/icomoon.woff?9ob0ra') format('woff'),
    url('../fonts/icomoon.svg?9ob0ra#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
